@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Table in "The Captured Shadow */
#the-captured-shadow table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#the-captured-shadow thead th{
	font-size: 1.3em;
	font-weight: normal;
	padding-bottom: 0.5em;
	text-align: center;
}

#the-captured-shadow tbody td{
	border: solid black 1px;
	padding-left: 0.4em;
	text-align: right;
}

#the-captured-shadow tbody td:first-child{
	border: solid black 1px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	text-align: initial;
}
